doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    block title
        title Banner Ad
    link(rel="stylesheet", href="index.css", media="screen", title="index")
    script(type="text/javascript", src="https://secure-ds.serving-sys.com/BurstingScript/EBLoader.js")
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
body#banner
    #banner__wrap: #banner__link
        #banner__bg.banner__frame
        block frames
    script(type="text/javascript", src="index.js")
